<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonfleet.spacex.feature.launchregistry">

    <application>

        <activity android:name=".ui.view.LaunchesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.moonfleet.spacex.feature.launchregistry.entrypoint"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>